/*                      留言                      */
#cont-1{
    height: 30px;
}
/* 留言居中标题 */
#cont1{
    text-align: center;
}

/* 留言区标题 */
#tit{
   border-left: 10px solid rgb(241, 241, 194);
   padding: 10px;
   margin-bottom: 10px;
}

/* 表单 */
form {
	display: table;
    width: 980px;
	padding: 10px;
	border: thin dotted #7e7e7e;
    margin-bottom: 20px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 10px;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    background: #fcdfdf;
}
/* 行 */
div.row-mess{
    display: table-row;
    width: 980px;
    height: 60px;
    margin: 5px;
    padding: 5px;
}
/* 左侧标签 */
label.label-ti{
    display: table-cell;
    text-align: right;
    width: 150px;
    height: 20px;
    vertical-align: top;
    padding: 3px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: larger;
}

input{
    display: table-cell;
    width: 100px;
    vertical-align: top;
    padding: 3px;
}
/* 联系方式输入框 */
#tele{
    width: 180px;
    height: 20px;
}
/* 选择框 */
select{
    width: 150px;
    height: 30px;
}
/* 留言文本框 */
textarea{
    display: table-cell;
    height: 200px;
    width: 500px;
}
/* 提交按钮 */
#submit{
    width: 200px;
    margin-left: 155px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 表情包 绝对定位 */
#heart{
    position:absolute;
    width: 200px;
    left: 750px;
    top: 300px;
}